#slidercontainer { width: 300px; }
#redslider, #greenslider, #blueslider { width: 250px;}

#redslider .ui-slider-range { background: #ef2929; }
#greenslider .ui-slider-range { background: #8ae234; }
#blueslider .ui-slider-range { background: #729fcf; }
#redslider .ui-slider-handle { border-color: #ef2929; }
#greenslider .ui-slider-handle { border-color: #8ae234; }
#blueslider .ui-slider-handle { border-color: #729fcf; }

#swatch {width: 300px; height: 50px; border: 1px solid black; margin-top: 20px; }

#valuecontainer { width: 300px; float: left;}
#bigswatch {width: 300px; height: 300px; border: 1px solid black;  float: left; }

.ping {
    width: 100px; 
    height: 100px; 
    border: 1px solid black; 
    float: left; 
    margin-left: 20px;
}

#colourpanel {
    position: absolute; 
    width: 300px; 
    border: 1px solid red; 
    background: white; 
    padding: 20px;
    display: none;
}
#slidercontainer {background: #ff}
#slidercontainer p.val {float: right; width: 50px; clear: right; margin-top: -20px; text-align: right;}
#toggleclose {margin-top: 0px;}

.clearfix {clear: both;}

