#slidercontainer { width: 300px; }
#redslider, #greenslider, #blueslider { width: 250px;}

#redslider .ui-slider-range { background: #ef2929; }
#greenslider .ui-slider-range { background: #8ae234; }
#blueslider .ui-slider-range { background: #729fcf; }
#redslider .ui-slider-handle { border-color: #ef2929; }
#greenslider .ui-slider-handle { border-color: #8ae234; }
#blueslider .ui-slider-handle { border-color: #729fcf; }

#swatch {width: 300px; height: 50px; border: 1px solid black; margin-top: 20px; }

#valuecontainer { width: 300px; float: left;}
#bigswatch {width: 300px; height: 300px; border: 1px solid black;  float: left; }

.ping {
    border: 1px solid black; 
    background-color: #fff; 
    display: inline-block;
    /**width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;**/
}

@media all and (min-width: 1281px) {

    .ping {
        width: 120px;
        height: 120px;
        margin-left: 10px;
        margin-top: 10px;    
    }
}

@media all and (min-width: 1025px) and (max-width: 1280px) {
    .ping {
        width: 100px;
        height: 100px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

@media all and (min-width: 800px) and (max-width: 1024px) {
    .ping {
        width: 80px;
        height: 80px;
        margin-left: 10px;
        margin-top: 10px;
    }
}


@media all and (max-width: 799px) {
    .ping {
        width: 40px;
        height: 40px;
        margin-left: 5px;
        margin-top: 5px;
    }
}



.fade {
    background-color: #fff;
	-webkit-transition: background-color 6s;
	-moz-transition: background-color 6s;
	-o-transition: background-color 6s;
	-ms-transition: background-color 6s;
	transition: background-color 6s;
}

#colourpanel {
    position: absolute; 
    width: 300px; 
    border: 1px solid black; 
    background: white; 
    padding: 20px;
    display: none;
}

#pings {
    margin: auto;
}

#pings p { text-align: center; }


#pings br { clear: left }

#slidercontainer {background: #ff}
#slidercontainer p.val {float: right; width: 50px; clear: right; margin-top: -20px; text-align: right;}
#toggleclose {margin-top: 0px;}


p.orientation { display: none; }

@media all and (orientation: portrait) {

    p.orientation {
        display: block;
    }
    
    #pings {
        display: none;
    }
    
    #toggleopen {
        display: none;
    }
}

.clearfix {clear: both;}

