<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <title>{% block title %}Sketching{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css">
    <link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.21.custom.css" rel="Stylesheet" />	
    {% block extra_css %}{% endblock %}
    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <!--<script src="{{ STATIC_URL }}js/modernizr-2.0.6.min.js"></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.21.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui.touch-punch.min.js"></script>
    {% block extra_js %}{% endblock %}

</head>
<body>
    <div id="main">{% block main %}{% endblock %}</div>
</body>
</html>
