{% extends "base.html" %}

{% block title %}Sketching with Hardware Conference{% endblock %}
{% block extra_js %}
    {% load socketio_tags %}
    {% socketio %}
    <script src="{{STATIC_URL}}js/touchyfeely.js"></script>

    <script type="text/javascript">
        var room = "{{room}}";
        
        var red = 200, green = 100, blue = 50;

	    $(function() {
	        socket = new io.Socket();
	        socket.connect();
	        socket.on('connect', function() {
		        socket.subscribe(room);
		        
		        //socket.send({room: room, action:'join', data:'Hello world'});
	        });

            socket.on('message', function(data) {
                //console.log(data);
                switch (data.a) {
                    case "ack":
                        console.log("Ack");
                        break;
                }
            });
	               
	        // set up the sliders
	        var change_callback = (function(event, ui) {
	            red = $( "#redslider" ).slider("value");
	            green = $( "#greenslider" ).slider("value");
	            blue = $( "#blueslider" ).slider("value");
	            var rgb = "rgb(" + red + ", " + green + ", " + blue + ")";
	            // write out the vals to the screen.
	            $("#rval").text(red);
	            $("#gval").text(green);
	            $("#bval").text(blue);	            
	            $("#swatch").css("background-color", rgb);
	        });
	        
	        var slider_opts = {range: "min", min: 0, max:255, value: 0, change: change_callback};
	        $( "#redslider" ).slider(slider_opts);
	        $( "#greenslider" ).slider(slider_opts);
	        $( "#blueslider" ).slider(slider_opts);
            // set the sliders
	        $( "#redslider" ).slider("value", red);
	        $( "#greenslider" ).slider("value", green);
	        $( "#blueslider" ).slider("value", blue);
	            
	        
	        // set up the ping handlers.
	        var ping_handler = (function(evt) {
	            msg = {a:"clr", r: red, b: blue, g: green, p: $(this).data("pos") }
	            socket.send(msg);
	        });

            var toggle_open = (function() {
	            // fire off the toggle event
	            $("#colourpanel").show("slide");
	        });
	        
	        var toggle_close = (function() {
	            // fire off the toggle event
	            $("#colourpanel").hide("slide");
	        });

	        // determine if we're a touch device or not.
	        if (touchyfeely.touch) {
    	        $("#toggleopen a").bind("touchstart", toggle_open);
                $("#toggleclose a").bind("touchstart", toggle_close);
    	        $(".ping").bind("touchstart", ping_handler);
            } else {
	            $("#toggleopen a").click(toggle_open);
                $("#toggleclose a").click(toggle_close);
    	        $(".ping").mouseover(ping_handler);
            }

	        
        });

    </script>
{% endblock %}

{% block extra_css %}
<style>
    .ping {width: 100px; height: 100px; border: 1px solid black; float: left; margin-left: 20px;}
    #colourpanel {
        position: absolute; 
        width: 300px; 
        border: 1px solid red; 
        background: white; 
        padding: 20px;
        display: none;
    }
    #slidercontainer {background: #ff}
    #slidercontainer p.val {float: right; width: 50px; clear: right; margin-top: -20px; text-align: right;}
    #toggleclose {margin-top: 0px;}
</style>

{% endblock %}

{% block main %}
    <div><h1>Sketching test</h1></div>
    <div id="colourpanel">
        <p id="toggleclose"><a href="javascript:void(0)">Close</a></p>
        <div id="slidercontainer">
            <div id="redslider"></div>
            <p class="val" id="rval"></p>
            <p></p>
            <div id="greenslider"></div>
            <p  class="val" id="gval"></p>
            <p></p>
            <div id="blueslider"></div>
            <p  class="val" id="bval"></p>
        </div>
        <div id="swatch"></div>
    </div>
    <div id="toggleopen"><a href="javascript:void(0)">Change Colour</a></div>
    <div id="pings">
        <div id="ping1" class="ping" data-pos="0">0</div>
        <div id="ping2" class="ping" data-pos="1">1</div>
        <div id="ping3" class="ping" data-pos="2">2</div>
    </div>
{% endblock %}


