{% extends "base.html" %}

{% block title %}Sketching with Hardware Conference{% endblock %}
{% block extra_js %}
    {% load socketio_tags %}
    {% socketio %}
    <script src="{{STATIC_URL}}js/touchyfeely.js"></script>

    <script type="text/javascript">
        var room = "{{room}}";
        
        var red = Math.floor(Math.random()*256), green = Math.floor(Math.random()*256), blue = Math.floor(Math.random()*256);
        var ping_limit = 19;
        // used to map the pings to the wiring positions.
        var ping_ids = [
            0,1,2,
            6,5,4,3,
            7,8,9,10,11,
            15,14,13,12,
            16,17,18
        ];
        //,3,4,5,6,7,8,9,19,18,17,16,15,14,13,12,11,10]; 
        var row_breaks = [2,6,11,15]; // where to break the rows

	    $(function() {
	        socket = new io.Socket();
	        socket.connect();
	        socket.on('connect', function() {
		        socket.subscribe(room);
		        
		        //socket.send({room: room, action:'join', data:'Hello world'});
	        });

            socket.on('message', function(data) {
                //console.log(data);
                switch (data.a) {
                    case "ack":
                        console.log("Ack");
                        break;
                }
            });
	               
	        // set up the sliders
	        var change_callback = (function(event, ui) {
	            red = $( "#redslider" ).slider("value");
	            green = $( "#greenslider" ).slider("value");
	            blue = $( "#blueslider" ).slider("value");
	            var rgb = "rgb(" + red + ", " + green + ", " + blue + ")";
	            // write out the vals to the screen.
	            $("#rval").text(red);
	            $("#gval").text(green);
	            $("#bval").text(blue);	            
	            $("#swatch").css("background-color", rgb);
	        });
	        
	        var slider_opts = {range: "min", min: 0, max:255, value: 0, change: change_callback};
	        slider_opts.value = red;
	        $( "#redslider" ).slider(slider_opts);
	        slider_opts.value = green;
	        $( "#greenslider" ).slider(slider_opts);
	        slider_opts.value = blue;
	        $( "#blueslider" ).slider(slider_opts);
            // set the sliders
	        $( "#redslider" ).slider("value", red);
	        $( "#greenslider" ).slider("value", green);
	        $( "#blueslider" ).slider("value", blue);
	            
	        
	        // set up the ping handlers.
	        var ping_handler = (function(evt) {
	            evt.preventDefault();
	            $(this).removeClass("fade");
	            $(this).css("background-color", "rgb(" + red + "," + green + "," + blue + ")");
	            msg = {a:"clr", r: red, b: blue, g: green, p: $(this).data("pos") }
	            socket.send(msg);
	        });
	        
	        var ping_release = (function(evt) {
                $(this).addClass("fade");
                $(this).css("background-color", "#000");
            });
            
            var toggle_open = (function() {
	            // fire off the toggle event
	            $("#colourpanel").show("slide");
	        });
	        
	        var toggle_close = (function() {
	            // fire off the toggle event
	            $("#colourpanel").hide("slide");
	        });
	        
	        // write the divs into the page for the ping items
	        for (var i=0; i< ping_limit; i++) {
	            $("#pings p").append("<div class=\"ping\" data-pos=\"" + ping_ids[i] + "\"> </div>");
	            if (row_breaks.indexOf(i) >= 0) $("#pings p").append("<br/>");
	        }
	        

	        // determine if we're a touch device or not.
	        if (touchyfeely.touch) {
    	        $("#tapclick").text("Touch");
    	        $("#toggleopen a").bind("touchstart", toggle_open);
                $("#toggleclose a").bind("touchstart", toggle_close);
    	        $(".ping").bind("touchstart", ping_handler);
    	        $(".ping").bind("touchend", ping_release);
            } else {
    	        $("#tapclick").text("Click");
	            $("#toggleopen a").click(toggle_open);
                $("#toggleclose a").click(toggle_close);
    	        $(".ping").mousedown(ping_handler);
    	        $(".ping").mouseup(ping_release);
            }

	        
        });

    </script>
{% endblock %}

{% block extra_css %}
<style>

</style>

{% endblock %}

{% block main %}
    <h1><span id="tapclick"></span> the circles</h1>
    <p class="orientation">
        Flip your device to landscape mode to have a better view of what's going on.
    </p>
    <div id="colourpanel">
        <p id="toggleclose"><a href="javascript:void(0)">Close</a></p>
        <div id="slidercontainer">
            <div id="redslider"></div>
            <p class="val" id="rval"></p>
            <p></p>
            <div id="greenslider"></div>
            <p  class="val" id="gval"></p>
            <p></p>
            <div id="blueslider"></div>
            <p  class="val" id="bval"></p>
        </div>
        <div id="swatch"></div>
    </div>
    <div id="pings">
        <p style="text-align: center">
        </p>
    </div>
    <div class="clearfix"></div>
    <div id="toggleopen"><a href="javascript:void(0)">Change Colour</a></div>
    <h2>What is this?</h2>
    <p>It's an experiment. Every time you hit a square, a light appears in my house</p>

{% endblock %}


